/* body */
body 
{ 
    font-family: Arial, sans-serif; 
    background: #0c0c10; 
    color: #f1f1f1; 
    margin: 0; 
}

/* nav bar */
nav ul 
{ 
    display: flex; 
    justify-content: center; 
    list-style: none; 
    padding: 0; 
    background: #1a1a1f; 
}
nav ul li 
{ 
    margin: 0 20px; 
}
nav ul li a 
{ 
    color: #f1f1f1; 
    text-decoration: none; 
}
.btn { 
    display: inline-block; 
    background: #5a5aff; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
}
